{% extends 'divmart_dashboard/index.html' %} {% load i18n %} {% load static %} {% block home%}

<div class="container-fluid">
    <h5>Add User</h5>
    {% if messages %}
    <ul class="messages list-unstyled">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} p-2 font-weight-bold text-center" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form id="myForm" method="POST" enctype="multipart/form-data">
        <div class="section card p-3" style="border-top:3px solid green">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Prefix</label>
                    <input type="text" class="form-control" name="prefix" placeholder="Mr/Mrs/Miss/">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="first_name" placeholder="first name">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="last_name" placeholder="last name">
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label>Email* <span class="text-danger font-weight-bold m-1">{% if errore %}Note-{{errore}}{% endif %}</span></label>
                    <input type="email" class="form-control" name="email" placeholder="email" required>
                    
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label>Username* <span class="text-danger font-weight-bold ml-1">{% if erroru %}Note-{{erroru}}{% endif %}</span></label>
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label>Password*</label>
                    <span class="text-danger"><small id="match_password" class="font-weight-bold ml-1"></small></span>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Password"
                        required>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label>Confirm Password*</label>
                    <input type="password" onkeyup="checkPasswordMatch();" class="form-control" id="password2"
                        name="password2" placeholder="Confirm Password" required>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Role*</label>
                    <select class="form-control" id="role" name="role" required="required">
                        <option value="">Please select</option>
                        {% for role in main_role %}
                            <option value="{{ role.id }}">{{ role.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Business Location*</label>
                   <select class="form-control" name="business_location" required>
                       <option value="">Please select</option>
                       {% for location in locations %}
                            <option value="{{location.id}}">{{location.name}}</option>
                       {% endfor %}
                   </select>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Sales Commission Percentage(%)&nbsp;
                        <!-- <i class="fa fa-info-circle text-success" data-placement="bottom" data-toggle="tooltip"
                            title="Used only if sales Commission Agent Type setting is 'logged in user': or 'select from user list' "
                            aria-hidden="true">
                        </i> -->
                    </label>
                    <input type="text" class="form-control" name="seles_commission_percentage"
                        value="{{ usr.sales_commision_percentage }}" placeholder="Sales Commission Percentage(%)">
                </div>
            </div>
            <!-- <div class="form-group row"> -->
                <!-- <div class="col-sm-4 col-md-6 col-lg-4">
                    <label>Sales Commission Percentage(%)&nbsp;
                        <!-- <i class="fa fa-info-circle text-success" data-placement="bottom" data-toggle="tooltip"
                            title="Used only if sales Commission Agent Type setting is 'logged in user': or 'select from user list' "
                            aria-hidden="true">
                        </i> 
                    </label>
                    <input type="text" class="form-control" name="seles_commission_percentage"
                        value="{{ usr.sales_commision_percentage }}" placeholder="Sales Commission Percentage(%)">
                </div> -->
                <!-- <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="checkbox" class="largerCheckbox" name="chk2" checked />
                    <label class="ml-2">Is Active?</label>
                    <i class="fa fa-info-circle text-success" data-placement="bottom" data-toggle="tooltip"
                        title="Check/Uncheck to make a user active/inactive" aria-hidden="true">
                    </i>
                </div> -->
            <!-- </div> -->
        </div>
        <div class="section card p-3" style="border-top:3px solid green">
            <h6>More Information</h6><br>
            <div class="form-group row ">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Date Of Birth</label>
                    <input type="date" class="form-control" name="birth_date" min="1920-01-01" max="2002-12-31"
                        placeholder="date of birth">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Blood Group</label>
                    <input type="text" class="form-control" name="blood_group" placeholder="Blood Group">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Contact Number</label>
                    <input type="text" class="form-control" name="mobile" placeholder="Contact Number">
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Guardian Name</label>
                    <input type="text" class="form-control" name="guardian_name" placeholder="Guardain Name">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Guardian Contact Number</label>
                    <input type="text" class="form-control" name="contact" placeholder="Guardain Contact">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Upload Id Proof(Front)</label>
                    <input type="file" class="form-control" name="id_proof_front">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Upload Id Proof (Back)</label>
                    <input type="file" class="form-control" name="id_proof_back">
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label>Permanent Address</label>
                    <textarea class="form-control" name="permanent_address" rows="3"></textarea>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label>Current Address</label>
                    <textarea class="form-control" name="current_address" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="section card p-3" style="border-top:3px solid green">
            <h5>
                <a data-toggle="collapse" href="#multiCollapseExample1" class="text-dark text-decoration-none" 
                    role="button" aria-expanded="false"  aria-controls="multiCollapseExample1">Bank Details
                </a>
            </h5>
            <div id="multiCollapseExample1">
                <div class="form-group row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Account Holder's name</label>
                        <input type="text" class="form-control" name="account_holder_name"
                            value="{{ usr.account_holder_name }}" placeholder="Account Holder's name">
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Account Number</label>
                        <input type="text" class="form-control" name="account_no" value="{{ usr.account_no }}"
                            placeholder="Account no.">
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Bank Name</label>
                        <input type="text" class="form-control" name="bank_name" value="{{ usr.bank_name }}"
                            placeholder="Bank Name">
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Bank Identifier Code/IFSC&nbsp;
                            <i class="fa fa-info-circle text-success" data-placement="bottom" data-toggle="tooltip"
                                title="A unique code to identify the bank in your country, For example IFSC code"
                                aria-hidden="true">
                            </i>
                        </label>
                        <input type="text" class="form-control" name="bank_identifier_code"
                            value="{{ usr.bank_identifier_code }}" placeholder="Bank Identifier Code">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Branch</label>
                        <input type="text" class="form-control" name="branch" value="{{ usr.branch }}" placeholder="Branch">
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Tax Payer ID</label>
                        <input type="text" class="form-control" name="tax_payer_id" value="{{ usr.tax_payer_id }}" placeholder="Tax Payer ID">
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary mt-2 mb-4" value="Create User">
        </div>
    </form>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
    function checkPasswordMatch() {
        var password = $("#password1").val();
        var confirmPassword = $("#password2").val();

        if (password != confirmPassword)
            $("#match_password").html("Note: Passwords should not match!");
        else
            $("#match_password").html("Note: Passwords matched.");
    }
</script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{%endblock%}