{% extends 'divmart_dashboard/index.html' %} {% load i18n %} {% load static %} {% block home%}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5> Transaction</h5>
        </div>
    </div>

<div class="section card pl-3 ml-2 mr-2 pr-3 pt-3" style="border-top:2px solid green">
    <h5>All Point Transaction<span><a class="btn btn-info text-white float-right"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back</a></span></h5>
    <br>
    <div class="overflow-auto">
    <table class="table  table-sm" id="usertable">
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>Point</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               <td>xxxx</td>
               <td>xxxx</td>
               <td>xxxx</td>
               <td>xxxx</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</div>

{%endblock%} {% block alljs %}
<script>
    $(document).ready(function() {
        $('#usertable').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{%endblock%}
