{% extends 'divmart_dashboard/index.html' %} {% load i18n %} {% load static %} {% block home%}
<style>
        .pagination {
        float: right;
        margin-right: 5%;
        padding: 5px;
    }

    .pagination li {
        background-color: #007bff;
        color: white;
        padding: 4px 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .pagination li a {
        color: white;
    }

    .pagination .active,
    .pagination .disabled {
        color: black;
        background-color: #494d7c52;
        cursor: auto;
    }
</style>
<div class="container-fluid">
    <h5>All Sales</h5>

    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <ul class="messages list-unstyled">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} text-center font-weight-bold" {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
                </li>
                {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="section card p-3" id="accordionExample" style="border-top:3px solid green">
        <div class="card-header bg-white" id="headingOne">
            <i class="fas fa-filter accordion text-primary" id="accordionExample" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b class="text-primary">Filters</b>
            </i>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        {% if request.user.is_superuser %}
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Business Location</label>
                            <select class="form-control" name="business_location">
                                <option value="">Please select</option>
                                {% for location in locations %}
                                <option value="{{location.name}}">{{location.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                        <!-- <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Customer</label>
                            <select class="form-control" name="customer">
                                <option value="">Please select</option>
                                {% for customer in customers %}
                                <option value="{{customer.first_name}}">{{customer.first_name}}</option>
                                {% endfor %}
                            </select>
                        </div> -->
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Date Range</label>
                            <input type="datetime-local" class="form-control" name="date">
                        </div>
                    </div>
                    <input type="submit" value="SUBMIT" class="btn btn-primary btn-block w-25 float-right">
                </form>
            </div>
        </div>
    </div>
    <div class="section card p-3 table-responsive" style="border-top: 3px solid green;">
        {% if request.user.is_superuser %}
        <div class="row">
            <div class="col-lg-12">
                <p>All Sales
                    <span class="float-right">
                        <a class="btn btn-primary btn-sm mb-2" href="{%url 'sale_add'%}">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add
                        </a>
                    </span>
                </p>
            </div>
        </div>
        {% endif %}
        <div class="overflow-auto">
            <table id="sales_table" class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th class="th-sm">Date</th>
                        <th class="th-sm">Ref No.</th>
                        <th class="th-sm">Customer Name</th>
                        <th class="th-sm">Location</th>
                        <th class="th-sm">Total Amount</th>
                        <th class="th-sm">Total Paid</th>

                        <!-- <th class="th-sm">Invoice No</th> -->
                        <!-- <th class="th-sm">Payment Status</th> -->
                        <!-- <th>Payment Due</th> -->
                        <th class="th-sm">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in lists %}
                    <tr>
                        <td>{{list.sale_date|date:'d-m-Y H:i:s'}}</td>
                        <td>{{list.ref_no}}</td>
                        <td>{{list.customer}}</td>
                        <td>{{list.business_location}}</td>
                        <td>₹ {{list.total_amount}}</td>
                        <td>₹ {{list.total_payable}}</td>

                        <!-- <td data-toggle="modal" data-target=".invoice_mdl">09/02/2020 20:52</td> -->
                        <!-- <td>0056</td> -->
                        <!-- <td class="text-center"> <a class="bg-success p-2" data-toggle="modal" data-target=".payment_status_mdl">paid</a></td> -->
                        <!-- <td> <b>Sell Due:</b> ₹ 0.00</td> -->
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu bg-primary">
                                    <!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target=".invoice_mdl"> <i
                                        class="fa fa-external-link" aria-hidden="true"></i> &nbsp;&nbsp; View</a> -->

                                    <a class="dropdown-item" href="{% url 'sale_edit' list.id %}"><i
                                            class="fa fa-pencil" aria-hidden="true"></i>
                                        &nbsp;&nbsp; Edit</a>
                                    <a href="{% url 'invoice_view' list.id %}" class="dropdown-item"><i
                                            class="fa fa-eye"></i>&nbsp;&nbsp; View</a>
                                    <a class="dropdown-item del_btn" href="{% url 'delete_sale' list.id %}"> <i
                                            class="fa fa-trash" aria-hidden="true"></i>
                                        &nbsp;&nbsp; Delete </a>

                                    <!-- <a class="dropdown-item" href="#"><i class="fa fa-print" aria-hidden="true"></i>
                                    &nbsp;&nbsp; Print</a> -->

                                    <!-- <a class="dropdown-item" href="#"> <i class="fa fa-file-text"
                                        aria-hidden="true"></i>&nbsp;&nbsp;Packing Slip</a> -->

                                    <!-- <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa fa-money"
                                        aria-hidden="true"></i>&nbsp;&nbsp; View Payments</a>
                                <a class="dropdown-item" href="#"> <i class="fa fa-files-o"
                                        aria-hidden="true"></i>&nbsp;&nbsp; Duplicate Sell</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-undo" aria-hidden="true"></i>
                                    &nbsp;&nbsp;Sell Return</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-external-link" aria-hidden="true"></i>
                                    &nbsp;&nbsp; Invoice URL</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"
                                        aria-hidden="true"></i>&nbsp;&nbsp;New Sell Notification</a> -->
                                </div>
                            </div>
                        </td>

                        <!-- <td>
                        <a href="{% url 'sale_edit' list.id %}" class="btn btn-outline-info btn-sm"><i
                                class="fa fa-pencil"></i>&nbsp; Edit</a>
                    </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if lists.has_other_pages %}
        <nav aria-label="Page navigation example"></nav>
        <ul class="pagination justify-content-end">
            {% if lists.has_previous %}
            <li><a href="?page={{ lists.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in lists.paginator.page_range %}
            {% if lists.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li class="to_select"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if lists.has_next %}
            <li>
                <a href="?page={{ lists.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
        {% endif %}
    </div>
</div>


</div>
{%endblock%} {% block alljs %}

<script>
    $(document).ready(function () {
        $('#sales_table').dataTable({
            "bPaginate": false,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            }
        });
    });
</script>

<script>
    $('.del_btn').click(function (e) {
        var action = confirm('Are you sure to remove..?');
        if (action == false) {
            e.preventDefault();
        } else {
            location.reload();
        }
    })
</script>
{% endblock %}