{% extends 'divmart_dashboard/index.html' %} {% load i18n %} {% load static %} {% block home%}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5>Edit Product - <span class="text-danger text-capitalize">{{prod.product_name}}</span></h5>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="section card p-3" style="border-top:3px solid green">
            <div class="form-group row ">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Product Name*</label>
                    <input type="text" class="form-control" name="product_name" value="{{ prod.product_name }}" required>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Units*</label>
                    <div class="input-group mb-3">
                        <select class="form-control" name="unit">
                            <option value="">Please Select</option>
                            {% for u in unit %}
                                <option value="{{ u.id }}" {% if u.id == prod.unit.id %} selected {% endif %}>{{ u.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append bg-white" data-toggle="modal" data-target="#exampleModals"
                            style="cursor: pointer;">
                            <!-- <span class="input-group-text" id="basic-addon2"><i class="fas fa-plus-circle text-primary"></i></span> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Brand*</label>
                    <div class="input-group mb-3">
                        <select class="form-control" name="brand">
                            <option value="">Please Select</option>
                            {% for b in brand %}
                                <option value="{{ b.id }}" {% if b.id == prod.brand.id %}selected{% endif %}>{{ b.brand_name }}</option>
                            {% endfor %}
                        </select>
                        <!-- <div class="input-group-append bg-white" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-plus-circle text-primary"></i></span>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Category(optional)</label>
                    <select class="form-control" name="category">
                        <option value="">Please select</option>
                        {% for u in cat %}
                            <option value="{{ u.id }}" {% if u.id == prod.category.id %}selected{% endif %}>{{ u.name }}</option>
                        {% endfor %}
                    </select>

                </div>
                <!-- <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Sub Category</label>
                    <select class="form-control" name="sub_category">
                        <option value="">Please select</option>
                        {% for u in sub_cat %}
                            <option value="{{ u.id }}" {% if u.id == prod.sub_category.id %}selected{% endif %}>{{ u.name }}</option>
                        {% endfor %}
                    </select>
                </div> -->
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>SKU*</label>
                    <input type="text" class="form-control" name="SKU" value="{{ prod.SKU }}">
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Alert Quantity(optional)</label>
                    <input type="text" class="form-control" name="alert_quantity" value="{{ prod.alert_quantity }}">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Business Location*</label>
                    <select class="form-control" name="business_location" required>
                        <option>Select Location</option>
                        {% for location in locations %}
                            <option value="{{location.id}}" {% if location.id == prod.business_location.id %}selected{% endif %}>
                                {{location.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 col-md-6">
                    <label>Product Description(optional)</label>
                    <textarea class="form-control rounded-0" name="Product_description" 
                        id="exampleFormControlTextarea1" rows="1">
                        {% if prod.Product_description %}{{ prod.Product_description }}{% endif %}
                    </textarea>
                </div>
                <!-- <div class="col-sm-4 col-md-4 col-lg-4">
                    <label>Upload Image(optional)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                <i class="fa fa-folder-open text-white" aria-hidden="true"></i> Browse… 
                                <input type="file" name="product_image" id="imgInp">
                            </span>
                        </span>
                    </div>
                </div> -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label>Weight(optional)</label>
                    <input type="number" class="form-control" name="weight" value="{% if prod.weight %}{{ prod.weight }}{% else %}0{% endif %}">
                </div>
            </div>
        </div>
        <div class="section card p-3" style="border-top:3px solid green">
            <div class="form-group row">
                <div class="col-lg-4 col-md-4">
                    <label>Applicable Tax*</label>
                    <select id="tax" class="form-control" name="applicable_tax" onchange="pricecal()" required>
                        <option value="">Please select</option>
                        {% for rate in rates %}
                            <option value="{{rate.rate}}" {% if rate.id == prod.applicable_tax.id %}selected{% endif %}>{{rate.name}}-{{rate.rate}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-4 col-md-4">
                    <label>Selling Price Tax Type*</label>
                    <select class="form-control" name="selling_price_tax_type" required>
                        <option value="I" {% if prod.selling_price_tax_type == 'I' %} selected {% else %} {% endif %}>Inclusive</option>
                        <option value="E" {% if prod.selling_price_tax_type == 'E' %} selected {% else %} {% endif %}>Exclusive</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4">
                    <label>Product Type*</label>
                    <select class="form-control" name="product_type" required>
                        <option value="S" {% if prod.product_type == 'S' %} selected {% endif %}>single</option>
                        <option value="V" {% if prod.product_type == 'V' %} selected {% endif %}>variable</option>
                    </select>
                </div>
            </div>
            <!-- <div class="form-group row">
                <div class="col-lg-4 col-md-4">
                    <label>Product Type</label>
                    <select class="form-control" name="product_type">
                        <option value="S" {% if prod.product_type == 'S' %} selected {% endif %}>single</option>
                        <option value="V" {% if prod.product_type == 'V' %} selected {% endif %}>variable</option>
                    </select>
                </div>
            </div> -->
            <div class="row pl-10 pr-10 overflow-auto">
                <table class="table table-bordered table-sm">
                    <thead class="bg-secondary text-center">
                        <tr>
                            <th scope="col">Default Purchase Price</th>
                            <th scope="col">x Margin(%)</th>
                            <th colspan="2" scope="col">Default Selling Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Exc. tax</label>
                                        <input type="text" onkeyup="pricecal()" id="base_price"
                                            name="purchase_price_exc_tax" value="{{ prod.purchase_price_exc_tax }}" class="form-control">
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Inc. tax</label>
                                        <input type="text" id="inc" name="purchase_price_inc_tax" value="{{ prod.purchase_price_inc_tax }}" class="form-control" readonly>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <label>Margin %</label>
                                <input type="number" id="margin" name="margin" value="{{prod.margin}}" class="form-control" onkeyup="pricecal()" required step='any'>
                            </td>
                             <td>
                                <label>MRP</label>
                                <input type="number" id="MRP" name="sale_mrp" value="{{prod.sale_mrp}}" class="form-control" required>
                            </td>
                            <td>
                                <label>Exc. tax</label>
                                <input type="text" id="selling_price_exc_tax" name="selling_price_exc_tax"
                                    value="{{ prod.selling_price_exc_tax }}" class="form-control" onkeyup="marginCal()">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="submit" class="btn btn-primary mb-3 mt-3" value="UPDATE">
        </div>
    </form>
</div>


</div>

{%endblock%} {% block alljs %}
<script>
    function pricecal() {
        let price = document.getElementById("base_price").value;
        let tax = document.getElementById("tax").value;
        let margin = document.getElementById("margin").value;

        if (tax >= 0.0){
            var cal_tax = parseFloat(price) * parseFloat(tax / 100)
            var inc = parseFloat(price) + parseFloat(cal_tax)

            var cal_margin = (parseFloat(price) * parseFloat(margin/100))
            var selling_price = parseFloat(cal_margin) + parseFloat(price)

            if (tax.value != '') {
                if (price.length != '') {
                    document.getElementById("inc").value = inc.toFixed(2)
                    document.getElementById("selling_price_exc_tax").value = selling_price.toFixed(2);
                }
                else {
                    document.getElementById("inc").value = price.toFixed(2)
                    document.getElementById("selling_price_exc_tax").value = selling_price.toFixed(2);
                }
            }
        }else{
            var cal_margin = (parseFloat(price) * parseFloat(margin/100))
            var selling_price = parseFloat(cal_margin) + parseFloat(price)

            if (tax.value != '') {
                if (price.length != '') {
                    document.getElementById("inc").value = price.toFixed(2)
                    document.getElementById("selling_price_exc_tax").value = selling_price.toFixed(2);
                }
                else {
                    document.getElementById("inc").value = price.toFixed(2)
                    document.getElementById("selling_price_exc_tax").value = selling_price.toFixed(2);
                }
            }}
    }
</script>
<script>
    function marginCal(){
        let price = document.getElementById("base_price").value;
        let selling_price_value = document.getElementById('selling_price_exc_tax').value;
        var sp_val = ((parseFloat(selling_price_value)-parseFloat(price))/parseFloat(price))*100

        if (selling_price_value != '') {
            if (price.length != '') {
                document.getElementById("margin").value = sp_val.toFixed(2);
            }
            else {
                document.getElementById("margin").value = (0).toFixed(2);
            }
        }
    }
</script>

{%endblock%}