{% extends 'divmart_dashboard/index.html' %} {% load i18n %} {% load static %} {% block home%}{% load humanize %}

<style>
    .dropdown-item:focus,
    .dropdown-item:hover {
        text-decoration: none;
        background-color: #ffc107;
    }

    .pagination {
        float: right;
        margin-right: 5%;
        padding: 5px;
    }

    .pagination li {
        background-color: #007bff;
        color: white;
        padding: 4px 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .pagination li a {
        color: white;
    }

    .pagination .active,
    .pagination .disabled {
        color: black;
        background-color: #494d7c52;
        cursor: auto;
    }
</style>

<div class="container-fluid">
    <h5>List Products</h5>
    {% if messages %}
    <ul class="messages list-unstyled">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} p-2 font-weight-bold text-center" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if request.user.is_superuser %}
    <div class="section card p-3" id="accordionExample" style="border-top:3px solid green">
        <div class="card-header bg-white" id="headingOne">
            <i class="fas fa-filter accordion text-primary" id="accordionExample" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b class="text-primary">Filters</b>
            </i>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Business Location</label>
                            <select class="form-control" name="business_location">
                                <option value=none>Please select</option>
                                {% for location in locations %}
                                <option value="{{location.name}}">{{location.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Brand</label>
                            <select class="form-control" name="prod_brand">
                                <option value=none>Please select</option>
                                {% for bran in brand %}
                                <option value="{{bran.brand_name}}">{{bran.brand_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Unit</label>
                            <select class="form-control" name="prod_unit">
                                <option value=none>Please select</option>
                                {% for uni in unit %}
                                <option value="{{uni.name}}">{{uni.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Tax</label>
                            <select class="form-control" name="prod_tax">
                                <option value=none>Please select</option>
                                <option value="E">Exclusive</option>
                                <option value="I">Inclusive</option>
                            </select>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block w-25 float-right">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="section card p-3" style="border-top: 3px solid green;">
        {% if request.user.is_superuser %}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <a class="btn btn-primary btn-sm float-right" href="{%url 'add_new_product'%}"><i
                        class="fa fa-plus-circle"></i>&nbsp; Add</a>
            </div>
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-danger btn-sm mb-2"><i class="fa fa-trash"></i>&nbsp; Delete</button>
            <table id="list_product_table" class="table table-striped table-sm w-100">
                <thead class="bg-light">
                    <tr>
                        <th><input type="checkbox" id='all_check' name="chk[]"></th>
                        <th class="th-sm">Product</th>
                        <th class="th-sm">PurchasePrice</th>
                        <th class="th-sm">Selling Price</th>
                        <th class="th-sm">Current Stock</th>
                        <th class="th-sm">Tax(%)</th>
                        <th class="th-sm">Sku</th>
                        <th class="th-sm">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for val in new_prod %}
                    <tr class="pointer">
                        <td><input type="checkbox" name="prod_list" value="{{val.id}}"></td>
                        <td>{{ val.product_name }}</td>
                        <td>{{ val.purchase_price_exc_tax|floatformat:2|intcomma }}</td>
                        <td>{{ val.selling_price_exc_tax|floatformat:2|intcomma }}</td>
                        <td
                            class="font-weight-bold {% if val.current_stock == 0 %} text-danger {% else %}text-success{% endif %}">
                            {{ val.current_stock }}</td>
                        <td>{{ val.applicable_tax }}</td>
                        <td>{{ val.SKU }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu bg-primary">
                                    <a class="dropdown-item" href="{% url 'product_view' val.id %}"><i
                                            class="fa fa-eye fa-fw"></i>&nbsp; View</a>
                                    {% if request.user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'print_label' %}"><i
                                            class="fa fa-tag fa-fw"></i>&nbsp; Labels</a>
                                    <a class="dropdown-item" href="{% url 'edit_new_product' val.id %}"><i
                                            class="fa fa-pencil fa-fw"></i>&nbsp; Edit</a>
                                    <a class="dropdown-item del_obj" href="{% url 'product_delete' val.id %}"><i
                                            class="fa fa-trash fa-fw"></i>&nbsp; Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
        </form>
        <!-- The Modal -->
    </div>

    {% if new_prod.has_other_pages %}
    <nav aria-label="Page navigation example"></nav>
    <ul class="pagination justify-content-end">
        {% if new_prod.has_previous %}
        <li><a href="?page={{ new_prod.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in new_prod.paginator.page_range %}
        {% if new_prod.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="to_select"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if new_prod.has_next %}
        <li>
            <a href="?page={{ new_prod.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</nav>
    {% endif %}

</div>
{%endblock%}{% block alljs %}
<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css"
    rel="stylesheet" />
<script type="text/javascript"
    src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

<script>
    $(document).ready(function () {
        $('#list_product_table').dataTable({
            "bPaginate": false,
            order: [[1, 'asc']]
        });
        $('#stock_report_table').DataTable();
    });


    $('#all_check').click(function () {
        $('input:checkbox').prop('checked', this.checked);
    });

    $('.btn-outline-danger').click(function (e) {
        var atLeastOneIsChecked = $('input[name="prod_list"]:checked').length > 0;
        if (atLeastOneIsChecked) {
            var action = confirm('Are you sure to remove the selected...?');
            if (action == false) { e.preventDefault(); }
            else { location.reload(); }
        } else { alert('Please check atleast one product to remove it...!'); e.preventDefault(); }
    });
</script>

<script>
    $('.del_obj').click(function (e) {
        e.preventDefault();
        var action = confirm('Are you sure to remove...?');
        if (action == false) {
            e.preventDefault();
        }
        else {
            location.reload();
        }
    })
</script>
{% endblock %}