{% extends 'divmart_dashboard/index.html' %} {% load customtags %} {% load i18n %} {% load static %} {% block home%}
<style>
        .pagination {
        float: right;
        margin-right: 5%;
        padding: 5px;
    }

    .pagination li {
        background-color: #007bff;
        color: white;
        padding: 4px 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .pagination li a {
        color: white;
    }

    .pagination .active,
    .pagination .disabled {
        color: black;
        background-color: #494d7c52;
        cursor: auto;
    }
</style>
<div class="container-fluid">
    <h4>Expenses</h4>
    <div clas="section card accordion p-3" id="accordionExample" style="border-top:3px solid green">
        <div class="card-header bg-white" id="headingOne">
            <i class="fas fa-filter accordion text-primary" id="accordionExample" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b class="text-primary">Filters</b>
            </i>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card p-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Business Location</label>
                            <select class="form-control" name="location">
                                <option value="none">Please select</option>
                                {% for loc in locations %}
                                <option value="{{loc.id}}">{{loc.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <label>Expenses Category</label>
                            <select class="form-control" name="category">
                                <option value="none">Please select</option>
                                {% for cat in category %}
                                <option value="{{cat.id}}">{{cat.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <label>Date Range</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="datetime-local" class="form-control" name="date"
                                    placeholder="date range" value="none"/>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="SUBMIT" class="btn btn-primary w-25 float-right">
                </form>
            </div>
        </div>
    </div>

    <div class="section card p-3 table-responsive" style="border-top: 3px solid green;">
        <h4>All expenses
            <span class="float-right">
                <a class="btn btn-primary mb-2" href="{% url 'add_expenses' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add
                </a>
            </span>
        </h4>
        <div class="overflow-auto">
        <table id="list_product_table" class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th class="th-sm">Date</th>
                    <th class="th-sm">Refrence No</th>
                    <th class="th-sm">Expense Category</th>
                    <th class="th-sm">Location</th>
                    <th class="th-sm">Total Amount</th>
                    <th class="th-sm">Expense Note</th>
                    <!-- <th class="th-sm">Action</th> -->
                </tr>
            </thead>
            <tbody>
                {% for v in list_expense %}
                <tr>
                    <td>{{ v.date|date:'d-M-Y' }}</td>
                    <td>{{ v.ref_no }}</td>
                    <td>{{v.expense_category}}</td>
                    <td>{{ v.business_location }}</td>
                    <td>{{ v.amount|floatformat:2 }}</td>
                    <td>{% if v.expense_note %}{{ v.expense_note }}{% else %}NP{% endif %}</td>
                    <!-- <td></td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% if new_prod.has_other_pages %}
        <nav aria-label="Page navigation example"></nav>
        <ul class="pagination justify-content-end">
            {% if new_prod.has_previous %}
            <li><a href="?page={{ new_prod.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in new_prod.paginator.page_range %}
            {% if new_prod.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li class="to_select"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if new_prod.has_next %}
            <li>
                <a href="?page={{ new_prod.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
        {% endif %}
    </div>
</div>
{%endblock%}{% block alljs %}

<script>
    $(document).ready(function () {
        $('#list_product_table').dataTable({
            "bPaginate": false,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            }
        });
    });
</script>

{%endblock%}