{% extends 'divmart_dashboard/index.html' %} {% load i18n %} {% load static %} {% block home%}

<div class="container-fluid">
    <h5>List POS</h5>
    <div class="section card accordion p-3" id="accordionExample" style="border-top:3px solid green">
        <div class="card-header bg-white" id="headingOne">
            <i class="fas fa-filter accordion text-primary" id="accordionExample" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b class="text-primary">Filters</b></i>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group row ">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Business Location</label>
                            <select class="form-control" name="locations">
                                <option value="">Please select</option>
                                {% for location in locations %}
                                <option value="{{location.id}}">{{location.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Customer</label>
                            <select class="form-control" name="customer">
                                <option value="">Please select</option>
                                {% for customer in customers %}
                                <option value="{{customer.first_name}}">{{customer.first_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Payment Status</label>
                            <select class="form-control" name="payment_status">
                                <option value="">Please select</option>
                                <option value="F">Final</option>
                                <option value="D">Draft</option>
                                <option value="Q">Quotation</option>
                            </select>
                        </div>
                        <!-- <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Date Range</label>
                            <select class="form-control" name="date_range">
                                <option>Today</option>
                                <option>Yesterday</option>
                                <option>Last 7 day</option>
                                <option>Last 30 day</option>
                                <option>This Month</option>
                                <option>Last Month</option>
                                <option>Custom Range</option>
                            </select>
                        </div> -->
                        <input type="hidden" id="scanned_value">
                        <div class="col-sm-3 col-md-3 col-lg-3 pt-4">
                        <input type="submit" class="btn btn-primary btn-block" value="FILTER">
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="section card p-3" style="border-top:3px solid green">
        <h6>List POS
            <span class="float-right">
                <a class="btn btn-primary btn-sm mb-2" href="{%url 'dashboard_pos'%}">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Add
                </a>
            </span>
        </h6>
        {% if messages %}
        <ul class="messages list-unstyled">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} text-center font-weight-bold p-2 m-0" {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
                </li>
                {% endfor %}
        </ul>
        {% endif %}
        <div class="overflow-auto">
        <table class="table  table-sm" id="usertable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Ref no</th>
                    <th>Customer Name</th>
                    <th>Location</th>
                    <th>Payment Status</th>
                    <th>Total Amount</th>
                    <th>Total Paid</th>
                    <!-- <th>Payment Due</th> -->
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                {% for list in pos_list %}
                <tr>
                    <!-- <th scope="row" data-toggle="modal" data-target=".invoice_mdl">09/02/2020 20:52</th> -->
                    <td>{{list.sale_date}}</td>
                    <td>{{list.ref_no}}</td>
                    <td>{{list.customer}}</td>
                    <td>{{list.business_location}}</td>
                    <!-- <td><a class="btn bg-primary p-1" data-toggle="modal" data-target=".payment_status_mdl">paid</a></td>-->
                    <td>{{list.get_status_display}}</td>
                    <td>₹ {{list.total_payable}}</td>
                    <td>₹ {{list.total_payable}}</td>
                    <!-- <td><b>Sell Due: </b>₹ 0.00</td> -->
                    <!-- <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <!-- <a href="#" class="btn btn-success btn-sm ml-1" data-toggle="modal"
                                data-target=".invoice_mdl"><i class="fa fa-eye" aria-hidden="true"></i>
                            </a> 
                            <button type="button" class="btn btn-danger btn-sm ml-1">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

    <!-- payment status start here  -->
    <!-- <div class="modal payment_status_mdl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">View Payments (Invoice No .)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <table class="table table-sm table-borderless">
                                <tr>
                                    <td>Customer :<br>
                                        <b>Wal in Customers</b>
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>Business :</td>
                                            </tr>
                                            <tr>
                                                <th>Divmart</th>
                                            </tr>
                                            <tr>
                                                <td> Manbhavan Restaurant Opp. Dawa Bazar, Chhoti Gwaltoli, Indore,
                                                    Madhya Pradesh indore,mp,india</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td>Mobile :</td>
                                                            <td>xxxxxxxxx</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Email :</td>
                                                            <td>xxxxx@yopmail.com</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>Invoice No :</th>
                                                <td>xxx</td>
                                            </tr>
                                            <tr>
                                                <th>Date :</th>
                                                <td>xxx</td>
                                            </tr>
                                            <tr>
                                                <th>Payment Status :</th>
                                                <td>xxxx</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <a class="btn btn-primary float-right text-white btn-sm"><i
                                    class="fa fa-envelope"></i>&nbsp; Send Payment Recieved Notification</a>
                        </div>
                    </div>
                    <div class="section  pl-3 mt-3">
                        <table class="table-sm w-100">
                            <tr class="bg-light">
                                <th class="th-sm">Date </th>
                                <th class="th-sm">Reference No.</th>
                                <th class="th-sm">Amount</th>
                                <th class="th-sm">Payment Method</th>
                                <th class="th-sm">Payment Note</th>
                                <th class="th-sm">Payment Account</th>
                                <th class="th-sm">Action</th>
                            </tr>
                            <tr>
                                <td>xxxx</td>
                                <td>xxxx</td>
                                <td>xxxx</td>
                                <td>xxxx</td>
                                <td>xxxx</td>
                                <td>xxxx</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                            data-target="#editpymdl"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger ml-1"><i
                                                class="fa fa-trash"></i></button>
                                        <button type="button" class="btn btn-primary ml-1" data-toggle="modal"
                                            data-target="#pymmdl"><i class="fa fa-eye"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <a class="btn btn-primary float-right text-white"><i
                                        class="fa fa-print"></i>&nbsp;Print</a>
                                <a class="btn btn-danger float-right text-white mr-2 "> Close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- payment status end here -->
    <!-- Invoice modal start here -->
    <!-- <div class="modal fade invoice_mdl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pd-10 pl-5">
                                <div class="row">
                                    <b>Invoice No</b> : xxxx
                                </div>
                                <div class="row">
                                    <b>Status</b> : xxxx
                                </div>
                                <div class="row">
                                    <b>Payment Status</b> : xxxx
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 pd-10">
                                <div class="row">
                                    <b>Customer Name</b> : xxxx
                                </div>
                                <div class="row">
                                    <b>Walk In Customer</b> : xxxx
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 pd-10">
                                <div class="row">
                                    <b>Table</b> : xxxx
                                </div>
                                <div class="row">
                                    <b>Service Staff</b> : xxxx
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <h4 class="ml-3">Products:</h4>
                        </div>
                        <div class="row table-responsive pl-3 pr-3">
                            <table class="table" id="customer_detail_tablek">
                                <thead class="bg-info">
                                    <tr>
                                        <th>#</th>
                                        <th>Product Quantity</th>
                                        <th>Unit Price </th>
                                        <th>Discount</th>
                                        <th>Tax</th>
                                        <th>Price inc. tax</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>xxxx</td>
                                        <td>xxxx</td>
                                        <td>xxxx</td>
                                        <td>xxxx</td>
                                        <td>xxxx</td>
                                        <td>xxxx</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-2 ">
                            <h4 class="ml-3">Payments Info:</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="section">
                                    <div class="row pl-3 pr-3">
                                        <table class="table table-sm">
                                            <thead class="bg-info">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Reference No</th>
                                                    <th>Amount</th>
                                                    <th>Payment Mode</th>
                                                    <th>Payment Note</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>xxxx</td>
                                                    <td>xxxx</td>
                                                    <td>xxxx</td>
                                                    <td>xxxx</td>
                                                    <td>xxxx</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="section">
                                    <div class="row pl-3 pr-3">
                                        <table class="table table-sm">
                                            <tbody>
                                                <tr class="bg-light">
                                                    <th>Total :</th>
                                                    <th></th>
                                                    <td>xxxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Discount :</th>
                                                    <th>(-)</th>
                                                    <td>xxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Order Tax :</th>
                                                    <th>+</th>
                                                    <td>xxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Shipping :</th>
                                                    <th>(-)</th>
                                                    <td>xxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Total Payble :</th>
                                                    <th>(-)</th>
                                                    <td>xxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Total Paid :</th>
                                                    <th>(-)</th>
                                                    <td>xxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Total Remaining :</th>
                                                    <th>(-)</th>
                                                    <td>xxxxx</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="section">
                                    <div class="row pl-3 pr-3">
                                        <table class="table table-sm">
                                            <tbody>
                                                <label>Sell Note</label>
                                                <tr class="bg-light">
                                                    <th>-</th>
                                                    <th></th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="section">
                                    <div class="row pl-3 pr-3">
                                        <table class="table table-sm">

                                            <tbody>
                                                <label>Staff Note</label>
                                                <tr class="bg-light">
                                                    <th>-</th>
                                                    <th></th>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 mb-4">
                                <a class="btn btn-primary text-white float-right"><i class="fa fa-faprint"></i>&nbsp;
                                    Print</a>
                                <a class="btn btn-danger text-white float-right mr-3">Close</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div> -->
</div>

{%endblock%} {% block alljs %}
<script>
    $(document).ready(function () {
        $('#usertable').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{%endblock%}