{% extends 'divmart_dashboard/index.html' %} {% load customtags %} {% load i18n %} {% load static %} {% block home%}

<style>
    .dropdown-item:focus,
    .dropdown-item:hover {
        text-decoration: none;
        background-color: #ffc107;
    }
</style>

<div class="container-fluid">
    <h5>Purchase</h5>
    <div class="card accordion p-2" id="accordionExample" style="border-top:2px solid green">
        <div class="card-header bg-white" id="headingOne">
            <i class="fas fa-filter accordion text-primary" id="accordionExample" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b class="text-primary">Filters</b>
            </i>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group row ">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Business Location</label>
                            <select class="form-control" name="business_location">
                                <option value="">Please select</option>
                                {% for location in business_location_list %}
                                    <option value="{{location.name}}">{{ location.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Supplier</label>
                            <select class="form-control" name="supplier">
                                <option value="">Please select</option>
                                {% for supplier in supplier_users %}
                                    <option value="{{ supplier.business_name }}">{{ supplier.business_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Payment Status</label>
                            <select class="form-control" name="payment_status">
                                <option value="">Please select</option>
                                <option value="True">Paid</option>
                                <option value="False">Unpaid</option>
                            </select>
                        </div>
                        <!-- <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Purchase Status</label>
                            <select class="form-control" name="drole">
                                <option>xxxx</option>
                            </select>
                        </div> -->
                   
                        <!-- <div class="col-sm-3 col-md-3 col-lg-3 pt-4">
                        </div> -->
                    </div>
                    <input type="submit" class="btn btn-primary btn-block float-right w-25">
                </form>
            </div>
        </div>
    </div>
    <div class="section card p-3" style="border-top: 3px solid green;">
        <h6>All Purchases
            {% if request.user.is_superuser %}
            <span class="float-right">
                <a class="btn btn-primary btn-sm mb-2" href="{%url 'add_purchase'%}">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add
                </a>
            </span>
            {% endif %}
        </h6>
        <div class="table-responsive overflow-auto">
            <table class="table w-100" id="list_purchase_table">
                <thead>
                    <tr>
                        <th>Date </th>
                        <th>Reference No</th>
                        <th>Location</th>
                        <th>Supplier</th>
                        <th>Grand Total</th>
                        <th>Payment Due</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for val in pur_info %}
                    <tr>
                        <td>{{ val.purchase_date|date:'d-m-Y H:i' }}</td>
                        <td>{{ val.ref_no }}</td>
                        <td>{{ val.business_location }}</td>
                        <td>{{ val.supplier.first_name }}</td>
                        <td>&#8377; <span class="grand_total">{{ val.grand_total|floatformat:2 }}</span></td>
                        <td>&#8377; <span class="due">
                            {% for v in pay_obj %}
                            {% if v.id == val.payment_info.id %}
                            -{{ v.payment_due|floatformat:2 }}
                            {% endif %}
                            {% endfor %}
                        </span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu bg-primary">
                                    <a class="dropdown-item" href="{%url 'view_purchase' val.id %}"><i
                                        class="fa fa-eye fa-sm fa-fw"></i>&nbsp; View</a>
                                    {% if request.user.is_superuser %}
                                    <a class="dropdown-item" href="{%url 'edit_purchase' val.id %}"><i
                                            class="fa fa-pencil fa-sm fa-fw"></i>&nbsp; Edit</a>

                                    <a class="dropdown-item" href="{% url 'delete_purchase' val.id %}" id="del_obj">
                                        <i class="fa fa-trash fa-sm fa-fw"></i>&nbsp; Delete
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                    <tr id="tfoot">
                        <th colspan="4">Total</th>
                        <td>&#8377; <span id="grand_total_sum"></span></td>
                        <td>&#8377; <span id="due_total"></span></td>
                    </tr>
            </table>
        </div>
    </div>

    <!-- view purchase modal start here  -->
    <div class="modal fade purchase_mdl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" id="purchse_print">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="exampleModalLabel">Purchase Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="section">
                    <div class="container-fluid">
                        <div class="row p-3">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="row">
                                
                                <h6> Supplier Detail:</h6><hr>
                                </div>
                                <div class="row">
                                    <label>Supplier Name: <span id="ele1">{% if val.supplier.business_name %}{{val.supplier.business_name}}{% else %}NP{% endif %}</span></label>
                                </div>
                                <div class="row">
                                    <label>City: <span id="ele2">{% if val.supplier.city %}{{val.supplier.city}}{% else %}NP{% endif %}</span></label>
                                </div>
                                <!-- <div class="row">
                                    <label>Address: <span id="ele3"></span></label>
                                </div> -->
                                <div class="row">
                                    <label>Tax Number : <span id="ele4">{% if val.supplier.tax_number %}{{val.supplier.tax_number}}{% else %}NP{% endif %}</span></label>
                                </div>
                                <div class="row">
                                    <label>Mobile : <span id="ele5">{% if val.supplier.mobile %}{{val.supplier.mobile}}{% else %}NP{% endif %}</span></label>
                                </div>
                                <div class="row">
                                   <label> Email : <span id="ele6">{% if pur_info.supplier.email %}{{pur_info.supplier.email}}{% else %}NP{% endif %}</span></label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 pd-10 float-right">
                                {% if pur_info.ref_no %}
                                <div class="row">
                                    <label>Reference No : <span id="ele11">{{pur_info.ref_no}}</span></label>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <label>Date : <span id="ele12">{{pur_info.purchase_date|date:'d-M-Y'}}</span></label>
                                </div>
                                <!-- <div class="row">
                                    <label>Purchase Status : <span id="ele13"></span></label>
                                </div> -->
                                <div class="row">
                                    <label>Payment Status : <span id="ele14">{% if pur_info.payment_info.payment_status == 'True' %}Paid{% else %}Unpaid{% endif %}</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <h6 class="ml-3">Products:</h6>
                        </div>
                        <div class="table-responsive overflow-auto">
                            <table class="table" id="customer_detail_tablek">
                                <thead class="bg-light">
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Product Quantity</th>
                                        <th>Unit Cost (Before Discount)</th>
                                        <th>Discount Percent</th>
                                        <th>Unit Cost (Before Tax)</th>
                                        <th>Subtotal (Before Tax)</th>
                                        <th>Tax</th>
                                        <th>Unit Cost Price (After Tax)</th>
                                        <th>Unit Selling Price</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody id="bala">
                                    
                                    <tr>

                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-2 ">
                            <h6 class="ml-3">Payments Info:</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="section">
                                    <div class="row pl-3 overflow-auto pr-3">
                                        <table class="table table-sm">
                                            <thead class="bg-light">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Reference No</th>
                                                    <th>Amount</th>
                                                    <th>Payment Mode</th>
                                                    <th>Payment Note</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="san">
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6">
                                <div class="section">
                                    <div class="row overflow-auto pl-3 pr-3">
                                        <table class="table table-sm">
                                            <tbody>
                                                <tr class="bg-light">
                                                    <th>Net Total Amount :</th>
                                                    <th></th>
                                                    <td id="nm1">xxxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Discount :</th>
                                                    <th>(-)</th>
                                                    <td id="nm2">xxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Purchase Tax :</th>
                                                    <th>(+)</th>
                                                    <td id="nm3">xxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Additional Shipping Charges :</th>
                                                    <th>(+)</th>
                                                    <td id="nm4">xxxxx</td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th>Purchase Total :</th>
                                                    <th></th>
                                                    <td id="nm5">xxxxx</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="section">
                                    <div class="row pl-3 overflow-autto pr-3">
                                        <table class="table table-sm">
                                            <tbody>
                                                <label>Shipping Details -</label>
                                                <tr class="bg-light">
                                                    <td id="nm6"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="section">
                                    <div class="row pl-3 pr-3 overflow-auto">
                                        <table class="table table-sm">
                                            <tbody>
                                                <label>Additional Note -</label>
                                                <tr class="bg-light">
                                                    <td id="nm7"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 float-right">
                                <a onclick="printDiv()"
                                    class="float-right btn btn-primary text-white mb-3"><i
                                        class="fa fa-print"></i>&nbsp; Print</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- view purchase modal end here -->
<!-- payment status start here  -->

<div class="modal payment_status_mdl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View Payments (Invoice No .)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 overflow-auto">
                        <table class="table table-sm table-borderless">
                            <tr>
                                <div class="row">
                                    <b> Supplier :</b>
                                </div>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4 col-md-4 overflow-auto">
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Business :</td>
                                        </tr>
                                        <tr>
                                            <th>Divmart</th>
                                        </tr>
                                        <tr>
                                            <td> Manbhavan Restaurant Opp. Dawa Bazar, Chhoti Gwaltoli, Indore, Madhya
                                                Pradesh indore,mp,india</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>Mobile :</td>
                                                        <td>xxxxxxxxx</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email :</td>
                                                        <td>xxxxx@yopmail.com</td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-lg-4 col-md-4 overflow-auto">
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <th>Invoice No :</th>
                                            <td>xxx</td>
                                        </tr>
                                        <tr>
                                            <th>Date :</th>
                                            <td id="dt">xxx</td>
                                        </tr>
                                        <tr>
                                            <th>Payment Status :</th>
                                            <td id="ps"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <a class="btn btn-primary float-right text-white btn-sm"><i class="fa fa-envelope"></i>&nbsp;
                            Send Payment Recieved Notification</a>
                    </div>
                </div>

                <div class="section overflow-auto pl-3 mt-3">
                    <table class="table-sm w-100">
                        <tr class="bg-light">
                            <th class="th-sm">Date </th>
                            <th class="th-sm">Reference No.</th>
                            <th class="th-sm">Amount</th>
                            <th class="th-sm">Payment Method</th>
                            <th class="th-sm">Payment Note</th>
                            <th class="th-sm">Payment Account</th>
                            <!-- <th class="th-sm">Action</th> -->
                        </tr>
                        <tr id="paymod">
                            <!-- <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editpymdl"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger ml-1"><i class="fa fa-trash"></i></button>
                                    <button type="button" class="btn btn-primary ml-1" data-toggle="modal" data-target="#pymmdl"><i class="fa fa-eye"></i></button>
                                </div>
                            </td> -->
                        </tr>
                    </table>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <a class="btn btn-primary float-right text-white"><i class="fa fa-print"></i>&nbsp;Print</a>
                            <a class="btn btn-danger float-right text-white mr-2 "> Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- payment status end here -->

<script>
    const paid = document.querySelectorAll(".paid-pt");
    paid.forEach(pd => {
        pd.addEventListener("click", () => {
            let pid = pd.getAttribute('id');
            const xhr = new XMLHttpRequest();
            xhr.responseType = "json";
            xhr.open('GET', `/api/v1/purchaseinfo/${pid}`);
            xhr.onload = () => {
                const per_info = xhr.response;
                const pay_id = xhr.response["payment_info"];
                // console.log(per_info)
                // console.log(pay_id)
                const pay = new XMLHttpRequest();
                pay.responseType = "json";
                pay.open('GET', `/api/v1/payments/${pay_id}`);
                pay.onload = () => {
                    const pay_info = pay.response;
                    // console.log(pay_info)
                    const paylist = [per_info.purchase_date.split("T")[0], per_info.ref_no, pay_info.amount, pay_info.payment_method, pay_info.payment_notes, pay_info.payment_account];
                    const payi = document.getElementById("paymod");
                    for (i = 0; i < paylist.length; i++) { // Create an empty row
                        td = document.createElement('td');
                        td.innerHTML = paylist[i];
                        payi.appendChild(td);
                    };
                    const ps = document.getElementById("ps")
                    const dt = document.getElementById("dt")
                    ps.innerText = pay_info.payment_status
                    dt.innerText = per_info.purchase_date.split("T")[0]

                }
                pay.send();
            }
            xhr.send();
        });
    });
</script>

<script>
    const view_pur = document.querySelectorAll(".view-pur");
    view_pur.forEach(vp => {
        vp.addEventListener("click", () => {
            let vip = vp.getAttribute('id');
            const xhr = new XMLHttpRequest();
            xhr.responseType = "json";
            xhr.open('GET', `/api/v1/purchaseinfo/${vip}`);
            xhr.onload = () => {
                const per_info = xhr.response;
                const pay_id = xhr.response["payment_info"];
                const sup_id = xhr.response["supplier"];

                const pur = new XMLHttpRequest();
                pur.responseType = "json";
                pur.open('GET', `/api/v1/purchases/`);
                pur.onload = () => {
                    const purchse = pur.response;
                    d = document.getElementById("bala");
                    d.innerHTML = "";
                    purchse.forEach(vp => {
                        if (per_info.id === vp["purchase_details"]) {
                            var vid = vp["product_name"]
                            // console.log(vid)
                            const prod = new XMLHttpRequest();
                            prod.responseType = "json";
                            prod.open('GET', `/api/v1/products/${vid}`);
                            prod.onload = () => {
                                const prod_info = prod.response;
                                const per_l = [prod_info.product_name, vp.purchase_quantity, vp.unit_cost_before_discount, vp.discount_percentage, vp.unit_cost_before_tax, vp.sub_total, vp.product_tax, vp.line_total, vp.unit_selling_price, vp.line_total];
                                var row = document.createElement("tr");
                                for (i = 0; i < per_l.length; i++) { // Create an empty row
                                    td = document.createElement('td')
                                    td.innerHTML = per_l[i];
                                    row.appendChild(td);
                                };
                                d.appendChild(row)
                            };
                            prod.send();
                        };

                    });
                };
                pur.send();

                const pay = new XMLHttpRequest();
                pay.responseType = "json";
                pay.open('GET', `/api/v1/payments/${pay_id}`);
                pay.onload = () => {
                    const pay_info = pay.response;
                    // console.log(pay_info)

                    const supl = new XMLHttpRequest();
                    supl.responseType = "json";
                    supl.open('GET', `/api/v1/suppliers/${sup_id}`);
                    supl.onload = () => {
                        const sup_info = supl.response;
                        // console.log('----sup info------', sup_info)

                        const ele1 = document.getElementById("ele1");
                        const ele2 = document.getElementById("ele2");
                        const ele3 = document.getElementById("ele3");
                        const ele4 = document.getElementById("ele4");
                        const ele5 = document.getElementById("ele5");
                        const ele6 = document.getElementById("ele6");
                        const ele7 = document.getElementById("ele7");
                        const ele8 = document.getElementById("ele8");
                        const ele9 = document.getElementById("ele9");
                        const ele10 = document.getElementById("ele10");
                        const ele11 = document.getElementById("ele11");
                        const ele12 = document.getElementById("ele12");
                        const ele13 = document.getElementById("ele13");
                        const ele14 = document.getElementById("ele14");

                        const nm1 = document.getElementById("nm1");
                        const nm2 = document.getElementById("nm2");
                        const nm3 = document.getElementById("nm3");
                        const nm4 = document.getElementById("nm4");
                        const nm5 = document.getElementById("nm5");
                        const nm6 = document.getElementById("nm6");
                        const nm7 = document.getElementById("nm7");

                        nm1.innerHTML = per_info.grand_total
                        nm2.innerHTML = per_info.Discount_amount
                        nm3.innerHTML = per_info.purchase_tax_amount
                        nm4.innerHTML = per_info.additional_ship_charges
                        nm5.innerHTML = per_info.purchase_total
                        nm6.innerHTML = per_info.shipping_details
                        nm7.innerHTML = per_info.Additional_notes

                        ele1.innerHTML = sup_info.business_name
                        ele2.innerHTML = sup_info.city
                        ele3.innerHTML = sup_info.address
                        ele4.innerHTML = sup_info.tax_number
                        ele5.innerHTML = sup_info.mobile
                        ele6.innerHTML = sup_info.email

                        ele11.innerHTML = per_info.ref_no
                        ele12.innerHTML = per_info.purchase_date.split("T")[0]
                        ele13.innerHTML = per_info.purchase_status
                        ele14.innerHTML = pay_info.payment_status
                        const paylist = [per_info.purchase_date.split("T")[0], per_info.ref_no, pay_info.amount, pay_info.payment_method, pay_info.payment_notes];
                        // console.log(paylist)
                        const pay = document.getElementById("san");
                        td = document.createElement('td');
                        td.innerHTML = 1;
                        pay.appendChild(td);
                        for (i = 0; i < paylist.length; i++) { // Create an empty row
                            td = document.createElement('td');
                            td.innerHTML = paylist[i];
                            pay.appendChild(td);
                        };
                    };

                    supl.send();

                };
                pay.send();

            };
            xhr.send();
        });
    });
</script>

<script>
    const view_pur = document.querySelectorAll(".view-pur");
    view_pur.forEach(vp => {
        vp.addEventListener("click", () => {
            let vip = vp.getAttribute('id');
            const xhr = new XMLHttpRequest();
            xhr.responseType = "json";
            xhr.open('GET', `/api/v1/purchaseinfo/${vip}`);
            xhr.onload = () => {
                const per_info = xhr.response;
                const pay_id = xhr.response["payment_info"];
                // const per_l =  [per_info.purchase_quantity,per_info.unit_cost_before_discount,per_info.discount_percentage,per_info.unit_cost_before_tax,per_info.sub_total,per_info.tax,per_info.line_total,per_info.unit_selling_price,per_info.grand_total];
                const prod = new XMLHttpRequest();
                prod.responseType = "json";
                prod.open('GET', `/api/v1/products/${per_info.product_name}`);
                prod.onload = () => {
                    const prod_info = prod.response;
                    d = document.getElementById("bala");
                    td = document.createElement('td')
                    td.innerHTML = prod_info.product_name;
                    d.appendChild(td);
                    for (i = 0; i < per_l.length; i++) { // Create an empty row
                        td = document.createElement('td')
                        td.innerHTML = per_l[i];
                        d.appendChild(td);
                    };
                };
                prod.send();
                const supl = new XMLHttpRequest();
                supl.responseType = "json";
                supl.open('GET', `/api/v1/suppliers/${per_info.supplier}`);
                supl.onload = () => {
                    const sup_info = supl.response;
                    console.log(sup_info)
                    const ele1 = document.getElementById("ele1");
                    const ele2 = document.getElementById("ele2");
                    const ele3 = document.getElementById("ele3");
                    const ele4 = document.getElementById("ele4");
                    const ele5 = document.getElementById("ele5");
                    const ele6 = document.getElementById("ele6");
                    const ele7 = document.getElementById("ele7");
                    const ele8 = document.getElementById("ele8");
                    const ele9 = document.getElementById("ele9");
                    const ele10 = document.getElementById("ele10");
                    const ele11 = document.getElementById("ele11");
                    const ele12 = document.getElementById("ele12");
                    const ele13 = document.getElementById("ele13");
                    const ele14 = document.getElementById("ele14");
                    ele1.innerHTML = sup_info.business_name
                    ele2.innerHTML = sup_info.city
                    ele3.innerHTML = sup_info.address
                    ele4.innerHTML = sup_info.tax_number
                    ele5.innerHTML = sup_info.mobile
                    ele6.innerHTML = sup_info.email
                    // ele7.innerHTML =
                    // ele8.innerHTML =
                    // ele9.innerHTML =
                    // ele10.innerHTML =
                    ele11.innerHTML = per_info.ref_no
                    ele12.innerHTML = per_info.purchase_date.split("T")[0]
                    ele13.innerHTML = per_info.purchase_status
                    ele14.innerHTML = per_info.payment_status
                    const paylist = [per_info.purchase_date.split("T")[0], per_info.ref_no, per_info.amount, per_info.payment_method, per_info.payment_notes];
                    console.log(paylist)
                    const pay = document.getElementById("san");
                    td = document.createElement('td');
                    td.innerHTML = 1;
                    pay.appendChild(td);
                    for (i = 0; i < paylist.length; i++) { // Create an empty row
                        td = document.createElement('td');
                        td.innerHTML = paylist[i];
                        pay.appendChild(td);
                    };
                }
                supl.send();
            }
            xhr.send();
        });
    });
</script>

<script>
    $('#del_obj').on('click', function(e){
        // e.preventDefault();
        var action = confirm('Are you sure to remove...?');
        if (action == false){
            e.preventDefault();
        }else{
            location.reload();
        }
    })
</script>

{%endblock%} 
{% block alljs %}

<script>
    $(document).ready(function () {
        $('#list_purchase_table').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>

<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
</script>
<script>
    function printDiv() {
        var divToPrint = document.getElementById('purchse_print');
        var newWin = window.open('', 'Print-Window');
        newWin.document.open();
        newWin.document.write('<html><body onload="window.print()">' + purchse_print.innerHTML + '</body></html>');
        newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
    }
</script>
<script>
    $(function() {
        var TotalValue = 0;
        $(".grand_total").each(function(index,value){
        currentRow = parseFloat($(this).text());
        TotalValue += currentRow
        });
        document.getElementById('grand_total_sum').innerHTML = parseFloat(TotalValue).toFixed(2);
    });

    $(function() {
        var TotalValue = 0;
        $(".due").each(function(index,value){
            console.log('----index, ,value', index, value)
        currentRow = parseFloat($(this).text());
        TotalValue += currentRow
        });
        document.getElementById('due_total').innerHTML = parseFloat(TotalValue).toFixed(2);
    });
</script>
{%endblock%}