{% extends 'divmart_dashboard/index.html' %} {% load i18n %} {% load static %} {% block home%}

<div class="container-fluid">
    <h5>Stock Adjustments </h5>
</div>

<div class="section card p-3" id="accordionExample" style="border-top:3px solid green">
    <div class="card-header bg-white" id="headingOne">
        <i class="fas fa-filter accordion text-primary" id="accordionExample" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><b
                class="text-primary">Filters</b></i>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Business Location</label>
                        <select class="form-control" name="business_location">
                            <option value="">Please select</option>
                            {% for location in locations %}
                                <option value="{{location.name}}">{{location.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Adjustment Type</label>
                        <select class="form-control" name="adjust_type">
                            <option value="">Please select</option>
                            <option value="1">Normal</option>
                            <option value="2">Abnormal</option>
                        </select>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Date Range</label>
                        <input type="datetime-local" class="form-control" name="date">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary w-25 float-right">
            </form>
        </div>
    </div>
</div>

<div class="section card p-3" style="border-top:3px solid green">
    <div class="row">
        <div class="col-lg-12">
            <h4>All stock adjustments
                <span class="float-right">
                    <a class="btn btn-primary mb-2" href="{%url 'add_stock_adjustment'%}"> <i class="fa fa-plus"
                            aria-hidden="true"></i>&nbsp;Add </a>
                </span>
            </h4>
        </div>
    </div>
    {% if messages %}
        <ul class="messages list-unstyled">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-center font-weight-bold p-2"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="overflow-auto">
    <table class="table  table-sm" id="usertable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Refrence No</th>
                <th>Location</th>
                <th>Adjustment Type</th>
                <!-- <th>Total Amount</th> -->
                <th>Total Amount Recovered</th>
                <th>Reason</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for list in adjustment_list %}
            <tr>
                <td>{{list.date|date:'d-m-Y H:i'}}</td>
                <td>{{list.ref_no}}</td>
                <td>{{list.business_location}}</td>
                <td>{% if list.adjustment_type == '1' %}Normal{% else %}Abnormal{% endif %}</td>
                <!-- <td>{{list.sub_total}}</td> -->
                <td>{{list.total_amount_recovered}}</td>
                <td>{{list.reason}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu bg-primary">
                            <a href="{% url 'edit-stock-adjustment' list.id %}" class="dropdown-item">
                                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Edit
                            </a>
                            <a href="{% url 'delete-stock-adjustment' list.id %}"
                                class="dropdown-item del_alert">
                                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{%endblock%} {% block alljs %}

<script>
    $(document).ready(function () {
        $('#usertable').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });

    $('.del_alert').click(function(e){
        e.preventDefault();
        if (action == false){
            e.preventDefault();
        }else{location.reload();}
    })
</script>

{%endblock%}