{% extends 'divmart_dashboard/index.html' %} {% load customtags %} {% load i18n %} {% load humanize %}{% load static %}
{% block home%}
<style>
        .pagination {
        float: right;
        margin-right: 5%;
        padding: 5px;
    }

    .pagination li {
        background-color: #007bff;
        color: white;
        padding: 4px 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .pagination li a {
        color: white;
    }

    .pagination .active,
    .pagination .disabled {
        color: black;
        background-color: #494d7c52;
        cursor: auto;
    }
</style>
<!-- Date Range Picker cdn -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="container-fluid">
    <div class="section card p-3" style="border-top: 3px solid green;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Register Details
                    <!-- <label>(19th Dec, 2020 07:30 AM - 19th Aug, 2021 11:45 AM)</label> -->
                </h3>
            </div>
        </div>
        <!-- <hr> -->
        <!-- <div class="row mb-2">
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                <label>Date</label>
                <input name="daterange" type="text" placeholder="19/12/2020 - 19/08/2021" class="form-control">
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 col-sm-6">
                <label for="ddlcashier">Cashier</label>
                <select name="" id="ddlcashier" class="form-control">
                    <option value="">Please select</option>
                    {% for staff in staff_users %}
                        <option value="{{staff.id}}">{{staff.first_name}}</option>
                    {% endfor %}
                </select>
            </div>-->
        
        <div class="row">
            <div class="col-lg-12 overflow-auto">
                <table class="table table-condensed">
                  <!-- <tr>
                        <th>Cash in hand</th>
                        <td>₹ 0.00</td>
                    </tr>
                    <tr>
                        <th>Cash payment</th>
                        <td>₹ {% if cash %}{{cash|floatformat:2|intcomma}}{% else %}0.00{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Cheque Payment</th>
                        <td>₹ {% if cheque %}{{cheque|floatformat:2|intcomma}}{% else %}0.00{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Card Payment</th>
                        <td>₹ {% if card %}{{card|floatformat:2|intcomma}}{% else %}0.00{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Bank Transfer</th>
                        <td>₹ {% if bank %}{{bank|floatformat:2|intcomma}}{% else %}0.00{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Other Payments</th>
                        <td>₹ {% if other %}{{other|floatformat:2|intcomma}}{% else %}0.00{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Total Payments</th>
                        <td>₹ 0.00</td>
                    </tr>  -->
                    
                    <tr>
                        <th>Total Sales</th>
                        <td>₹ {% if sale_value_from_payments != None %}
                            {{sale_value_from_payments|floatformat:2|intcomma}}
                            {% else %}0.00{% endif %}
                        </td>
                    </tr>
                    <br>
                    <tr class="bg-light-green">
                        <th>Total Refund</th>
                        <td>₹ 0.00<br>
                            <!-- <small>₹ 0.00</small> -->
                        </td>
                    </tr>
                    <tr class="bg-light-green">
                        <th>Total Cash</th>
                        <td>₹ 0.00</td>
                    </tr>
                </table>
                <hr>
                <div class="overflow-auto">
                    <table class="table table-condensed" id="count">
                        <tr>
                            <th>#</th>
                            <th>Brand</th>
                            <th>Quantity</th>
                            <th>Total Amount</th>
                        </tr>
                        {% for dict in new_dict %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{dict.brand}}</td>
                                <td class="count-this">{% if dict.sold %}{{dict.sold|floatformat:3}}{% else %}0{% endif %}
                                </td>
                                <td>₹ {% if dict.sub_total %}{{dict.sub_total|floatformat:2|intcomma}}{% else %}0.00
                                    {% endif %}</td>
                            </tr>
                        {% endfor %}
                        <tr class="bg-light-green">
                            <th colspan="2"></th>
                            <th id="add_here"></th>
                            <th>Discount:0.00<br>Sales Total:₹ 
                                {% if total_sale_value %}{{total_sale_value|floatformat:2|intcomma}}{% else %}0.00{% endif %}</th>
                        </tr>
                    </table>
                </div>
                <b>User: </b>{{request.user.username}}<br>
                <b>Email: </b>{{request.user.email}}
            </div>
            <div class="col-12 text-right">
                <button class="btn btn-primary" onClick="window.print()"><i class="fa fa-print"></i> Print </button>
            </div>
        </div>
    </div>
    {% if new_dict.has_other_pages %}
    <ul class="pagination">
        {% if new_dict.has_previous %}
        <li><a href="?page={{ new_dict.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in new_dict.paginator.page_range %}
        {% if new_dict.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if new_dict.has_next %}
        <li><a href="?page={{ new_dict.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
<script language="javascript" type="text/javascript">
    var tds = document.getElementById('count').getElementsByTagName('td');
    var sum = 0;
    for (var i = 0; i < tds.length; i++) {
        if (tds[i].className == 'count-this') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
        }
    }
    document.getElementById('add_here').innerHTML = sum;
</script>
<!-- date range picker javascript -->
<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
</script>
{% endblock %}