{% extends 'divmart_dashboard/index.html' %} {% load i18n %} {% load static %} {% block home%}

<div class="container-fluid">
    <h5>Manage your Selling Groups</h5>

<div class="section card p-3" style="border-top:2px solid green">
    <div class="row">
        <div class="col-lg-12">
            <h6>
                <span class="float-right">
                    <a class="btn btn-primary btn-sm mb-2" href="#" data-toggle="modal" data-target="#exampleModal"> 
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Add 
                    </a>
                </span>
            </h6>
        </div>
    </div>
    <div class="overflow-auto">
    <table class="table table-sm" id="variation">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for c in selling_group_list %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>{{ c.description }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'edit-selling-price-groups' c.id %}" class="btn btn-primary btn-sm">
                                <i class="fa fa-pencil"></i>&nbsp;Edit
                            </a>
                            <a href="{% url 'delete-selling-price-groups' c.id %}" class="btn btn-danger btn-sm ml-1" id="del_sel_group">
                                <i class="fa fa-trash" ></i>&nbsp;Delete
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus-circle"></i>&nbsp;Add Selling Group</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'selling-price-groups' %}">
                {% csrf_token %}
                <div class="modal-body ml-2 mr-2">
                    <div class="form-group row">
                        <label>Group Name:*</label>
                        <input type="text" id="cat_name" class="form-control" name="name" placeholder="category name" required>
                    </div>
                    <div class="form-group row">
                        <label>Description:</label>
                        <textarea class="form-control" name="description" placeholder="category code" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-25 btn-sm"><i class="fa fa-save"></i>&nbsp;Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

</script>
{%endblock%} {% block alljs %}
<script>
    $(document).ready(function() {
        $('#variation').DataTable();
        $('.dataTables_length').addClass('bs-select');

        $('#del_sel_group').click(function(e){
            var action = confirm('Are you sure to remove...?')
            if (action === false){e.preventDefault();}
            else{location.reload();}
        })

    });
</script>

{%endblock%}