{% extends 'membership/index.html' %} 
{% load mathfilters %}
{% load i18n %} {% load static %} {% block home%}

<div class="container-fluid">
    <h5>Manage Direct Transaction</h5>
    <div class="section card p-3" style="border-top:3px solid #00c0ef">
        <h6 class="text-dark">My Direct Transaction</h6>
        <br>
        <table class="table table-sm" id="mdtable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Level</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Created on</th>
                </tr>
            </thead>
            {% for data in resp_data %}
            <tr>
                    <th>{{data.fname}} {{data.lname}}</th>
                    <td>{{data.email}}</td>
                    <td>{{data.level|sub:obj.level}}</td>
                    {% with a=data.level|sub:obj.level %}
                    {% if a == 6 %}
                        <td>{{data.member_amount|mul:0.01}}</td>
                    {% else %}
                        {% with b=6|sub:a %}
                        {% with c=b|div:100 %}
                        <td>{{data.member_amount|mul:c}}</td>
                        {% endwith %}
                        {% endwith %}
                    {% endif %}
                    {% endwith %}
                    <!-- <td>{{data.member_amount|mul:data.level|sub:obj.level}}</td> -->
                    <td>
                        {% if data.status == 1 %}
                        <button class="btn btn-success btn-sm w-50">Active</button>
                        {% else %}
                        <button class="btn btn-danger btn-sm w-50">Inactive</button>
                        {% endif %}
                    </td>
                    <td>{{data.created|date:'d-M-Y'}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#mdtable').DataTable({
            "order": [[ 2, "asc" ]],
            "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]]
        });
        // $('.dataTables_length').addClass('bs-select');
    });
</script>

{%endblock%}