{% extends 'membership/index.html' %} {% load i18n %} {% load static %} {% block home%}


<div class="container-fluid">
            <h5>
                Manage Point Transaction
            </h5>

      <div class="section card p-3" style="border-top:3px solid #00c0ef">
        <h6 class="text-dark">My Point Transaction <span class="float-right"><a class="btn btn-info btn-sm text-white" href="{%url 'withdrawal_request'%}"><i class="fa fa-plus-circle">&nbsp;</i> Create Request</a></span></h6>
      
    <table class="table  table-sm" id="mdtable">
        <thead>
            <tr>
                <th>Point Amount</th>
                <th>Payment Status</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <td>xxxxx</td>
            <td>xxxxx</td>
            <td>xxxxx</td>
           
        
        </tbody>
    </table>

</div>
</div>




<script>
    $(document).ready(function() {
        $('#mdtable').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>

{%endblock%}
