{%extends 'webapp/index.html'%} {%load static%} {% block page %}
<div class="container">
    <div class="row">
        <div class="col-12 section-title pt-5">
            <h2 class="text-center"><span>About Us</span></h2>
        </div>
    </div>

    <div class="row pt-5 pb-5">
        <div class="col-lg-6 col-md-6 p-5">
            <h5 class="text-justify">Divmart supermarket is a self-service shop offering a wide variety of grocery & staples, household, confectionary, personal care & baby, snacks & beverages and stationary products, organized into sections. <br><br> It is larger and has a wider selection than earlier grocery stores, but is smaller and more limited in the range. </h5>
        </div>
        <div class="col-lg-6 col-md-6" id="storeimg">
        
        </div>
    </div>
</div>
{%endblock%}