{%extends 'webapp/index.html'%} {%load static%} {% block page %}
<div class="container"  id="categories">
    <div class="row">
        <div class="col-12 section-title text-center">
            <h2><span>PRODUCT CATEGORIES</span></h2>
            <p>Product categories we offer in our store</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 mt-3 col-md-3">
            <div class="category grocerybox">
            <div class="categorytitle text-center">
                <h4>Grocery & Staples</h4>
            </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 col-md-3">
            <div class="category Householdbox">
                <div class="categorytitle">
                    <h4>Household</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 col-md-3">
            <div class="category stationarybox">
                <div class="categorytitle">
                    <h4>Stationary</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 col-md-3">
            <div class="category confectionarybox">
                <div class="categorytitle">
                    <h4>Confectionary</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 col-md-3">
            <div class="category Personalcarebaby-box">
                <div class="categorytitle">
                    <h4>Personal Care & Baby</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 col-md-3">
            <div class="category Skincare-box">
                <div class="categorytitle">
                    <h4>Skin Care</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 col-md-3">
            <div class="category Packedfoods-box">
                <div class="categorytitle">
                    <h4>Packed Foods</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 col-md-3">
            <div class="category Snacksbeverages-box">
                <div class="categorytitle">
                    <h4>Snacks & Beverages</h4>
                </div>
            </div>
        </div>
    </div>

</div>
{%endblock%}