{%extends 'webapp/index.html'%} {%load static%} {% block page %}
<div class="container">
    <div class="row">
        <div class="col-12 section-title text-center">
            <h2><span>Contact Us</span></h2>
            <p>Our store addresses</p>
        </div>
    </div>
</div>



<div class="container-fluid bg-success">
    
    <div class="row mt-5 pb-5 pt-5">
        <div class="offset-lg-2 offset-md-2 col-lg-5 col-md-5">
            <div>
                <h3>Shop No.-1</h3><br>
                <p>
                    Ramgulam Tola, Near - Kasia Dhala,<br> Deoria, Uttar-Pradesh,<br> India
                </p>
                <p><b>Mobile: </b>088589 68675</p>
                <p><b>Email: </b> info@divmart.in</p>
                <p><b>Whatsapp: </b> 088589 68675</p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5">
            <div>
                <h3>Shop No.-2</h3><br>
                <p>
                    Umanagar, Deoria, Pincode - 274001,<br>	Uttar-Pradesh,<br> India
                </p>
                <p><b>Mobile: </b> 088589 68675</p>
                <p><b>Email: </b> info@divmart.in</p>
                <p><b>Whatsapp: </b> 088589 68675</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}